[submodule "dance-diffusion"]
	path = dance-diffusion
	url = https://github.com/ctralie/dance-diffusion.git
[submodule "RAVE"]
	path = RAVE
	url = https://github.com/ctralie/RAVE.git
[submodule "ddsp"]
	path = ddsp
	url = https://github.com/ctralie/ddsp.git
